<div class="container">
  <div class="row">
    <div class="twelve columns">
      <hr />
      <p class="small">USA 2017 | <a href="../stack/">Stack</a></p>
    </div>
  </div>
</div>

<!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!-- Custom JavaScript -->
    <script src="/js/form.js"></script>
    <script src="/js/formspree.js"></script>

</body>

</html>
