<hr />
<p class="centered">
<span class="small">  
  <a href="https://github.com/mariobox" title="Github"><i class="fa fa-github fa-lg"></i></a>
  <a href="https://twitter.com/mariobox" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a>
  <a href="mailto:mario@mariosanchez.org" title="Email"><i class="fa fa-envelope fa-lg"></i></a>
</span>
</p>
<p>
  <span class="small">&copy; 2020  Crafted with <a href="https://metalsmith.io">Metalsmith</a> and deployed to a <a href="https://digitalocean.com">DigitalOcean</a> VPS.</span></span>
</p>
</div>
</body>
</html>
