<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Scripts -->
    <script src="https://use.fontawesome.com/6091060163.js"></script>
<!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-mfizz.css">
    <link rel="stylesheet" href="/css/minimal.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<!-- Meta Info -->
    <title>{{#if title }}{{title }} - {{/if}}{{ site.name }}</title>
    <meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />
  </head>
<!-- Start Page -->
  <body>
    <div class="container">
    <nav>
      <a href="/" class="logo"><h1>{msc}</h1></a>
      <ul class="blocknav">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/code">Code</a></li>
        <li><a href="/reading">Reading</a></li>
        <li><a href="/snapshots">Photos</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>            
    </nav>
    
  
