<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Scripts -->
    <script src="https://use.fontawesome.com/6091060163.js"></script>
<!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-mfizz.css">
    <link rel="stylesheet" href="/css/minimal.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="microsub" href="https://aperture.p3k.io/microsub/306">
<!-- Meta Info -->
    <title>{{#if title }}{{title }} - {{/if}}{{ site.name }}</title>
    <meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />
  </head>
<!-- Start Page -->
  <body>
		<div class="header-int"></div>
		<a href="/">
			<div class="avatar"></div>
		</a>
		<div class="centered">
		  <h3 class="title">MARIO SANCHEZ CARRION</h3>
			<h4 class="title">Junior Web Developer</h4>
			<nav>
			  <ul class="blocknav">
				<li><a href="/">Home</a></li>
				<li><a href="/code/">Portfolio</a></li>
				<li><a href="/blog/">How To</a></li>
        <li><a href="/skills/">Skills</a></li>
				<li><a href="/about/">About</a></li>
			  </ul>            
  		</nav>
		</div>		
    <div class="container">
      
    
  
