{{> header }}

<article>
  <h1>{{ title }}</h1>
  <p>{{ blurb }}</p>
  <p class="date">{{#if date}}{{ moment date lang="en" format="MMMM DD, YYYY" }}{{/if}}</p>
{{{ contents }}}
</article>
<br />
<p><span><i class="fa fa-tags" aria-hidden="true" style="color: #777;"></i></span>
             {{#each tags }}
             <span class="tagbox"><a href="{{baseUrl}}/tags/{{name}}/">{{name}}</a></span>
             {{/each}}
</p>
<br />
<p>
  <center>
    {{#if previous}}<span style="float:right;"><a href="/{{previous.slug}}">{{previous.title}}</a>→</span>{{/if}} 
    
    {{#if next}}<span style="float:left;">←<a href="/{{next.slug}}">{{next.title}}</a></span>{{/if}}
  </center>
</p>


{{> footer }}
