{{> header }}

<div>
  <p>
    My name is <strong>Mario Sanchez Carrion</strong> and this is my personal website. I work as a product manager for a large power tools company. Here's my <a href="https://linkedin.com/in/mariobox">LinkedIn</a> profile. 
  </p>
  <p>
    While I'm not at work I can usually be found coding, investing, reading non-fiction, watching soccer or traveling. 
  </p>
<h3>Coding</h3> 
  <p>
    I pursue coding and web development as a serious hobby, and it's what I enjoy doing the most when I'm not at work. I've managed to learn HTML, CSS, Javascript, Python, ReactJS and NodeJS, <a href="/skills/">among other things</a>, as well as the fundamentals of computer science, the Internet and algorithmic thinking. 
  </p>
  <p>
    For those beginning to learn I highly recommend the <a href="https://www.edx.org/course/cs50s-introduction-to-computer-science"> CS50 Introduction to Computer Science</a> course from Harvard, which you can now take online for free at <a href="https://edx.org">edX</a>. Once you learn the basics, the <a href="https://developer.mozilla.org">Mozilla Developer Network</a> is a great go-to resource for reference.
  </p>
  <p>
    These are some projects I've completed:
  </p>
  <p>
    <a href="../reacttodo">Simple To Do List with ReactJS</a>
  </p>
  <p>
    <a href="../flaskecomm">eCommerce App with Flask and SQLite</a>
  </p>
  <p>
    <a href="../micro-blog">Micro Blog Front End with ReactJS</a>
  </p>
  <p>
    <a href="../object-keys">Image Gallery with AJAX</a>
  </p>
  <p>
    <a href="../progresscircle">Circular Progress Bar</a>
  </p>
  <p>
    [<a href="/code">More</a>]
  </p>
  <p>
    For info of the tools I'm using for web development go <a href="/stack">here</a>. If you want to get an overview of how this site is made go <a href="/site">here</a>. If you're up to it, you can check out the site's <a href="https://github.com/mariobox/mariosanchez.org">source code</a>. In the spirit of sharing, please feel free to use any part of the code or style sheet (just add your own content).
  </p>

<h3>Investing</h3>
  <p>
    <strong>Personal finance and investing</strong> is another of my big areas of interest. I try to follow the value investing route, as advocated by Benjamin Graham and Warren Buffett. I like to focus on mid-to-large cap dividend-paying stocks of companies with great brands, and try to buy at market dips. I also like to invest in real estate. I'm sure there are more exciting ways to invest, but the conservative approach works for me and matches my personality and risk profile. 
  </p>
  <p>
    Regarding investment books I usually recommend those that focus on fundamentals and mental models, rather than tactics and fads. A few good ones are:
  <p>
    <a href="https://www.amazon.com/dp/B07XB487HP/">The Millionnaire Next Door</a>
  </p>
  <p>  
    <a href="https://www.amazon.com/gp/product/1612680194">Rich Dad Poor Dad</a>
  </p>
  <p>
    <a href="https://www.amazon.com/dp/B000FC12C8/">The Intelligent Investor</a>
  </p>
  <p>
    <a href="https://darrenhardy.com/the-compound-effect-resources">The Compound Effect</a>
  </p>
  </p>
    <a href="https://www.principles.com/">Principles</a>
  </p>
  <p>
    Other than books, <a href="https://www.berkshirehathaway.com/letters/letters.html">Warren Buffett's Letters to Berkshire Shareholders</a> are also a classic and a must-read.
  </p>
  <p>
    Finally, I recently came across Naval Ravikant's epic post <a href="https://nav.al/rich">How To Get Rich</a> (available also in audio format via the same link). Also highly recommended.
</p>
<h3>Reading</h3>
  <p>
    I sometimes post highlights of books I read. You can find them <a href="/reading">here</a>. These notes are just passages that resonated with me, not a book summary or review. 
  </p>
  <p>
    I got this idea from <a href="https://sivers.org">Derek Sivers</a>. He has read hundreds of books and posted <a href="https://sivers.org/book">highlights</a> of each of them. The <a href="https://sivers.org/blog">articles</a> on his blog are great too.
  </p>
<h3>Travel</h3>
  <p>
    I've had the opportunity to travel to many places around the world either for work or for pleasure. These are some <a href="/snapshots">pictures</a> of places I've been. You can find more at my <a href="https://www.flickr.com/photos/mariobox/albums">Flickr</a> page.
  </p>
<h3>Contact</h3>
<p>My presence on social media is almost non-existent. <a href="https://nomasters.io/posts/nonparticipation/">This article</a> explains the reasoning behind that decision better than I ever could. My preferred way of communicating is through email.</p>
<p><strong>Email</strong>: &nbsp;mario (at) mariosanchez (dot) org</p>
<p><strong>PGP Fingerprint</strong>: &nbsp;D9FA 4AC6 F574 314F D1C3 01CC 60B6 81F3 7E86 9B96 &nbsp;(<a href="/publickey.txt">public key</a>).</p>

  
</div>

{{> footer }}
