{{> header }}

<p>My name is Mario Sanchez Carrion. I am a <a href="https://www.linkedin.com/in/mariobox">brand strategist</a> and <a href="https://teamtreehouse.com/mariosanchezcarrion">junior web developer</a> based in Miami, FL. I am an open source advocate, actively engaged in learning the <a href="/skills">skills</a> and <a href="/stack">technologies</a> to achieve digital self reliance. I am also a <a href="/mini/">practical minimalist</a> who keeps around only what is absolutely necessary to live a happy, productive life.</p>



{{> footer }}
