/* Minimal Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { 
  overflow-y: scroll; 
}


/* Base Style */

body {
  
  background-color:#39424E;
  font-family: 'Catamaran', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;  
  color: #DDD;
  padding: 0 5%;
}


/* Grid */

.container {
  max-width: 769px;
  margin: 1.5rem auto;  
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; 
}

h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: .4em;
}

h2 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: .4em;
}

h3 {
  font-size: 1.6em;
  line-height: 1.2em;
  margin-bottom: .35em;
}

h4 {
  font-size: 1.4em;
  line-height: 1.2em;
  margin-bottom: .35em;
}

h5 {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: .3em;
}

h6 {
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: .3em;
}


/* Links */

a:link, 
a:visited, 
a:active {
  color: #b2b200;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #CCC;
}


/* Lists */

ul {
  list-style-type: square;
}

ul, ol {
  margin-bottom: 1.0rem;
  margin-left: 1.5rem;
}

li {
  margin-bottom: 0.7rem;
}


/* Navigation */ 

nav {
  text-align: center;
  margin-bottom: 1.5rem;
}

.blocknav a {
  display: block;
  text-align: center;    
  text-decoration: none;
}

.blocknav a:link, 
.blocknav a:visited, 
.blocknav a:active {
  color: #b2b200;
}

.blocknav a:hover,
.blocknav a:focus {
  color: #CCC;
}
  
.blocknav li {
  list-style-type: none;
  margin-left: 0;
  font-size: 75%;
  text-transform: uppercase;
}

ul.blocknav {
  margin-bottom: 1.0em;
  margin-left: 0;
}

a.logo {
  text-decoration: none;
}

a.logo:link,
a.logo:visited,
a.logo:active {
  text-decoration: none;
  color: #FFF;
}

a.codelink:link,
a.codelink:visited,
a.codelink:active {
  color: #999;
}

a.codelink:hover {
  color: #CCC;
}


/* Code */

code {
  padding: .2rem .5rem;
  margin: 1.0rem .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #4f5b6b;
  border: 1px solid #4f5b6b;
  border-radius: 4px; 
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; 
}

pre {
    overflow: auto;
}


/* Buttons */

button, .button, input[class="submit"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #999;
  border-radius: 4px;
  border: 1px solid #999;
  cursor: pointer;
  box-sizing: border-box;
}


/* Images */

/* img.profile {
  padding: 4px;
  border: 1px solid #ccc;
  box-shadow: 1px 3px 3px #ddd;
  margin-bottom: 1em;
  margin-right:2%;
}
*/

img.profile {
  padding: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1em;
  margin-right: 2%;
}

img.profile.small{
  width: 165px;
}

img.profile.medium {
  width: 300px;
}

img.round {
  width: 75px;
  border-radius: 50%;
  border: 0px;
}

img {
  max-width: 100%;
}

/* Image Gallery */

.picbox {
  display: inline-block; 
  margin: 0.5em;
}

figure {
  margin: 0;
  position: relative;

}

figcaption {
  font-size: 0.85em;
  line-height: 1.5;
  color: #fff;
  background: rgba(19,43,102, .50);
  bottom: 0;
  position: absolute;
  margin-bottom: 33px;
  margin-left: 5px;
  padding: 0.6em;
  box-sizing: border-box;  
}


/* Other Page Elements */

hr {
  border: 1 solid #DDD;
  clear: both;
  border-width: 1px 0 0;
  height: 0;
  margin-top: 4.0em;
  margin-bottom: 1.5em;
}

p {
  margin-bottom: 1rem;
}

p.small {
  font-size: 0.9rem;
}

.date {
  color: #999;
}

mark {
  background-color: #4f5b6b;
  color: #DDD;
}

i[class^="fa"] {
  color: #999;
  margin-right: 1.0rem;  
}

i a:link,
i a:visited,
i a:active {
  text-decoration: none;
}

#copyright {
float: right;
}

.tagbox {
  border: 1px solid #777;
  text-transform: uppercase;
  font-size: 0.65em;
  background-color: #777;
  list-style-type: none;
  border-radius: 10%;
  display: inline-block;
  text-decoration: none;
  margin: 0px 0px 0px 5px;
  padding: 0 5px;
  line-height: 1.3em;
}

.tagbox a:link, 
.tagbox a:visited, 
.tagbox a:active {
  text-decoration: none;
  color: #FFF;
}
.tagbox a:hover {
  color: #d9d7d5;
}

.intro {
  font-size: 1.8rem;
}


/* Media Queries */

@media (min-width: 769px) {

nav {
  text-align: left;
}

.logo {
  display: inline-block;
}

ul.blocknav {
  margin-top: 0.15rem;
}

.blocknav li {
  display: inline-block;
  margin-right: 1em;
}

}
