/* Typography */

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

/* HTML Elements */

hr {
  border: solid #e5e4e2;
  clear: both;
  border-width: 1px 0 0;
  height: 0;
  margin-top: 2.5em;
}

h1 {
  margin-top: 1em;
}

#skills, #posts, #pictures {
  padding: 3.5em 0 0 0;
  text-align: center;
}

#posts h2, #posts h2 + p {
  text-align: left;
}

/* Try to assign this margin to another element instead of the button */
#posts button,
#skills button,
#pictures button {
  margin-top: 2.5em;
}

/* This ID sits on top of the hero image in home page a darker look so the white letters can stand out */
#transparent {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 768px;
  opacity: 0.2; 
  filter: alpha(opacity=0.2);
}

#intro {
  background-image: url("/img/introbkg.jpg");
  text-align: center;
  height: 768px;
  padding-top: 200px;
  box-sizing: border-box;
}


#intro p {
  color: #FFF;
  font-size: 1.1em;
  padding: 1em 3em;
  
}


a:link, 
a:visited, 
a:active {
  color: #000;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #999;
}

p.small {
  font-size: 0.9em;
}

mark {
  background-color: rgba(119,41,83, 0.2);
  color: #000;
}

ul {
  list-style-type: square;
  text-align: left;
}

nav {
  padding-top: 0.5em;  
  background-color: #fafafa;
  border-bottom: 1px solid #e0e0e0;
  
}

i[class^="icon"] {
  color:#772953;
  font-size: 2em;
}


/* Images */

img.roundnew {
  border-radius: 2%;
  border: 1px solid #ccc;
  margin-bottom: 0.5em;
  width: 100%
}
        

img.profile {
  padding: 4px;
  border: 1px solid #ccc;
  box-shadow: 1px 3px 3px #ddd;
  margin-bottom: 1em;
  margin-right:2%;
  width: 165px;
}

img.round {
  border-radius: 50%;  
  width: 125px;
}

img {
  max-width: 100%;
}


/* Other Classes */

li.tagbox {
  padding: 2px;
  width: 120px;
  border: 1px solid #999;
  margin: 0px 10px 0px 0px;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  color: #999;
  list-style-type: none;
  border-radius: 0%;
  display: inline;
  text-decoration: none;
  color: #999;
}

.tagbox a:link, 
.tagbox a:visited, 
.tagbox a:active {
  text-decoration: none;
  color: #999;
}

.blocknav a {
  display: block;
  text-align: center;    
  text-decoration: none;
  
}
  
.blocknav li {
  list-style-type: none;
  margin-left: 0;
  background-color: #E5E4E2;
  font-size: 85%;
  text-transform: uppercase;
}

ul.blocknav {
  margin-bottom: 1em;
}

a.brand {
  display: block;
  background-color: #FFF;
  text-align: center;
}

.logo {
  width: 120px;
}

.date {
  color: #999;
}



/* Image Gallery */

.picbox {
  display: block; 
  margin: 0.5em;
}

figure {
  margin: 0;
  position: relative;
}

figure img {
  width: 100%;
}

figcaption {
  font-size: 0.85em;
  line-height: 1.5;
  color: #fff;
  background: rgba(19,43,102, .50);
  bottom: 0;
  position: absolute;
  margin-bottom: 12px;
  margin-left: 5px;
  padding: 0.6em;
  
}

img.frame {
  padding: 4px;
  border: 1px solid #ccc;
  box-shadow: 1px 3px 3px #ddd;
}


/* Media Queries */

@media (min-width: 500px) {
  .picbox {
    width: 45%;
    display: inline-block;      
  }
}

@media (min-width: 769px) {

.blocknav li {
  display: inline-block;
  margin-right: 1em;
  background-color: #FFF;
}

a.brand, ul.blocknav {
  display: inline-block;
}

ul.blocknav {
  float: right;
  margin-top: 10px;
}

.logo {
  margin-bottom: 0.5em;
  width: 120px;
}

}


@media (min-width: 900px) {
  .picbox {
    width: 30%;
  }
}





